deep-translator
feedparser
folium
matplotlib
newspaper3k
nltk
numpy
openai
openpyxl
pandas>=2.1.0
plotly>=5.18.0
python-dotenv
reportlab
requests
streamlit>=1.31.0
streamlit-aggrid>=0.3.4
streamlit-folium
textblob
wordcloud
yfinance
Bash
lxml_html_clean